<div class="controls-bar">
  <fieldset>
    <label for="width-input">Width : {{width}}</label>
    <input id="width-input" type="range" [(ngModel)]="width" (input)="onChangeWidth()"
           min="9" max="450" step="1">
  </fieldset>

  <fieldset>
    <label for="height-input">Height : {{height}}</label>
    <input id="height-input" type="range" [(ngModel)]="height" (input)="onChangeHeight()"
           min="9" max="180" step="1">
  </fieldset>

  <button type="button" (click)="onClickRandomize()">
    Randomize
  </button>

  <button type="button" (click)="onClickPause()">
    {{isPaused ? "resume": "stop"}}
  </button>

  <span>Grid size : {{width * height}} cells.</span>
</div>
